</section></div>		            <input type="radio" name="product-tab-trigger" id="specifications">
        <div class="product-tab-container default-layout">
            <section class="product-specifications">
                <div class="limiter">
                    <h1 class="product-tab-title">Характеристики</h1>
                    <dl>
                                                                                                                                                                                                                                                                                                                                                                <dt>Производительность</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Максимальная скорость (км/ч)</span>
                                                <span class="value">До 25 или до 45 км/ч</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Максимальная дальность (км)</span>
                                                <span class="value">До 75 км</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Дальность WMTC (км)</span>
                                                <span class="value">Дальность WMTC: до 47 км (версия 25 км/ч); до 40 км (версия 45 км/ч)</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Время зарядки</span>
                                                <span class="value">Прибл. 4 часа для 100%, 3 часа для 80%</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Напряжение - Ампер-часы</span>
                                                <span class="value">48 В - 30 А·ч</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                            <dt>Параметры продукта</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Максимальная нагрузка</span>
                                                <span class="value">230 кг</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Высота сиденья</span>
                                                <span class="value">770 мм</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Размеры Д x Ш x В</span>
                                                <span class="value">1866 x 675 x 1175 мм</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Колесная база (мм)</span>
                                                <span class="value">1345 мм</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Объем под сиденьем (в литрах)</span>
                                                <span class="value">27 л</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Количество мест</span>
                                                <span class="value">Макс. два человека</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Водонепроницаемость</span>
                                                <span class="value">IPX5 для скутера, IPX7 для аккумулятора</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                            <dt>Аккумулятор</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Емкость аккумулятора</span>
                                                <span class="value">1440 Вт·ч</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Тип аккумулятора</span>
                                                <span class="value">Li-ion</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Вес аккумулятора</span>
                                                <span class="value">11,5 кг</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Умная система управления аккумулятором</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Съемный аккумулятор</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Количество аккумуляторов в комплекте</span>
                                                <span class="value">1, с возможностью добавить дополнительный</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                            <dt>Двигатель</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Угол подъема</span>
                                                <span class="value">До 11°</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Номинальная мощность</span>
                                                <span class="value">350 Вт (25 км/ч), 1000 Вт (45 км/ч)</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Максимальная мощность</span>
                                                <span class="value">1500 Вт</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Производитель двигателя</span>
                                                <span class="value">QS Motor, Powered by Segway</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Расположение двигателя</span>
                                                <span class="value">Заднее</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Максимальный крутящий момент</span>
                                                <span class="value">88 Н·м</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                            <dt>Тормоза</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Передний тормоз</span>
                                                <span class="value">Гидравлический дисковый тормоз; 220 мм - 4 мм</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Задний тормоз</span>
                                                <span class="value">Гидравлический дисковый тормоз; 180 мм - 3,5 мм</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">ABS - Антиблокировочная система</span>
                                                <span class="value">Нет</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">EABS - Электронная система помощи при торможении</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                            <dt>Приборная панель</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Цифровая приборная панель</span>
                                                <span class="value">Да, цифровая и VA панель</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Индикатор уровня заряда</span>
                                                <span class="value">10-сегментный дисплей</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Информация на приборной панели</span>
                                                <span class="value">Указатель поворота/Bluetooth/Ближний и дальний свет/Круиз-контроль/Режимы езды/Индикатор неисправности/Ошибка автомобиля/Блокировка/Уровень заряда/Зарядка батареи/Скорость/Статус/Запас хода/Время/Индикатор готовности/Давление в шинах</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Индикаторы состояния</span>
                                                <span class="value">RGB LED: Оранжевый (подножка не убрана или нет водителя на сиденье); Синий (готов к поездке); Красный (предупреждение); Зеленый (идет рекуперация энергии)</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Индикатор подключения</span>
                                                <span class="value">Значок Bluetooth</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                            <dt>Освещение</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Передняя фара</span>
                                                <span class="value">LED фара, с ближним/дальним светом</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Дневные ходовые огни (DRL)</span>
                                                <span class="value">Да, передний горизонтальный свет и задний свет</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Задний стоп-сигнал</span>
                                                <span class="value">Постоянный LED свет</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Умный задний LED свет</span>
                                                <span class="value">Да (активируется через мобильное приложение)</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                            <dt>Шины</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Тип шины - передняя</span>
                                                <span class="value">80/90-12, бескамерная шина</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Тип шины - задняя</span>
                                                <span class="value">90/80-12, бескамерная шина</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                            <dt>Подвеска</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Передняя подвеска</span>
                                                <span class="value">Амортизатор: гидравлический и пружинный</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Передняя подвеска</span>
                                                <span class="value">Ход подвески: 85 мм</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Задняя подвеска</span>
                                                <span class="value">Амортизатор: гидравлический и пружинный</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Задняя подвеска</span>
                                                <span class="value">Ход подвески: 70 мм</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                                                                                                            <dt>Умные функции</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">USB подключение</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">RideyGo!</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Ninebot AirLock</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Датчик парковки</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Датчик присутствия водителя</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Электрическая разблокировка багажного отсека</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">OTA (беспроводные) обновления</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">GPS</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">AHRS</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Дистанционная блокировка</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Черный ящик + SOS</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Подписка на 4G SIM</span>
                                                <span class="value">Бесплатная подписка на передачу данных в течение первых 2 лет, затем платное продление.</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Умная блокировка руля</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Дистанционная блокировка</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                                                                                                            <dt>Другие характеристики</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Круиз-контроль</span>
                                                <span class="value">Да</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                                                                                                                                                                                                                                                                            <dt>Тип транспортного средства</dt>
                                <dd>
                                                                            <div class="specification">
                                            <div class="data">
                                                <span class="key">Категория и подкатегория транспортного средства</span>
                                                <span class="value">L1e-B</span>
                                            </div>
                                        </div>
                                                                    </dd>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </dl>
                                            <small class="disclaimer">*Данные о запасе хода продукта зависят от грузоподъемности, температуры, скорости, дорожного покрытия и других факторов: данные о запасе хода измерены при температуре окружающей среды 25℃, с нагрузкой 70 кг и при равномерной скорости 20 км/ч.<br>
<br>
**Показанные изображения и видео приведены только для справки. Фактический продукт может отличаться, обратитесь к реальному продукту для получения подробной информации.</small>
                                    </div>
            </section>
        </div>
